/* ----------------------------------
Basic Css reset
----------------------------------*/

/* Css reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Definition of 1 rem = 10px */
html {
  font-size: 62.5%; /* 10px / 16px = 62.5%, setting definiton of 1rem */
}

/* Setting box sizing border box so that everyone can inherit */
body {
  box-sizing: border-box;
  overflow-y: scroll;
}

/* ----------------------------------
Default Font property 
----------------------------------*/

/* Setting the default font-family for all everything */
*,
*::before,
*::after {
  font-family: inherit;
}

/* Setting font property for body so that everyone can inherit it */
body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: var(--font-family);
  color: var(--color-font);
  background-color: var(--color-grey-light-1);
}

/* Inheriting font property for input, select and textarea tags */
input,
select,
textarea {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}