:root {
  /* ------ Fonts ------ */
  --font-family: 'Poppins', sans-serif;
  --font-family-secondary: 'Noto Sans', sans-serif;

  /* ----- Colors ------ */

  --color-black: #000;
  --color-white: #fff;

  --color-purple-lighter: #a88de8;
  --color-purple-light: #9370e3;
  --color-purple: #8862e0;
  --color-purple-dark: #7d54dd;
  --color-purple-darker: #6837d8;

  --color-green-lighter: #46e5c6;
  --color-green-light: #28e1bd;
  --color-green: #1abc9c;
  --color-green-dark: #148f77;
  --color-green-darker: #0e6252;

  --color-blue-lighter: #61b4f6;
  --color-blue-light: #319ef4;
  --color-blue: #2196f3;
  --color-blue-dark: #118ef2;
  --color-blue-darker: #0b73c5;

  --color-yellow-lighter: #ffea55;
  --color-yellow-light: #ffe633;
  --color-yellow: #ffe211;
  --color-yellow-dark: #eed100;
  --color-yellow-darker: #ccb300;

  --color-yellowOrange-lighter: #ffca55;
  --color-yellowOrange-light: #ffb411;
  --color-yellowOrange: #ffaf00;
  --color-yellowOrange-dark: #eea300;
  --color-yellowOrange-darker: #cc8c00;

  --color-red-lighter: #ff928b;
  --color-red-light: #ff7269;
  --color-red: #ff6258;
  --color-red-dark: #ff5247;
  --color-red-darker: #ff3225;

  --color-pink-lighter: #ef5c8e;
  --color-pink-light: #eb2d6e;
  --color-pink: #e91e63;
  --color-pink-dark: #e0165b;
  --color-pink-darker: #b21148;

  --color-orange-lighter: #ffbbb2;
  --color-orange-light: #ff8e7f;
  --color-orange: #ff523b;
  --color-orange-dark: #f61d00;
  --color-orange-darker: #c31700;

  /* Get darker from 1 to 4 */
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-3_5: #dfdfdf;
  --color-grey-light-4: #ccc;

  /* Get lihter from 1 to 4 */
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #aaa;

  --color-new-blue-lighter: #8c6dff;
  --color-new-blue-light: #643aff;
  --color-new-blue: #3c07ff;
  --color-new-blue-dark: #2d00d3;
  --color-new-blue-darker: #2200a0;

  /* Primary color */
  --color-primary-lighter: var(--color-yellowOrange-lighter);
  --color-primary-light: var(--color-yellowOrange-light);
  --color-primary: var(--color-yellowOrange);
  --color-primary-dark: var(--color-yellowOrange-dark);
  --color-primary-darker: var(--color-yellowOrange-darker);

  /* Secondary color */
  --color-secondary-lighter: var(--color-blue-lighter);
  --color-secondary-light: var(--color-blue-light);
  --color-secondary: var(--color-blue);
  --color-secondary-dark: var(--color-blue-dark);
  --color-secondary-darker: var(--color-blue-darker);

  /* Defining font color */
  --color-font: var(--color-grey-dark-1);

  /* Shadows */
  --shadow-primary: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-secondary: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  /* Gradients */
  --gradient-primary: radial-gradient(#fdfbfb, #ebedee);
}