.notificationBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

.notificationBtn:hover {
  background-color: var(--color-grey-light-2);
}

.rightNav {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 3.5rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
}

.profileImage:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profileBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
}
