.searchForm {
  background: var(--color-white);
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  display: block;
  border: 1px solid var(--color-grey-dark-4);
}

.searchIcon {
  color: var(--color-grey-dark-3);
  margin-right: 1rem;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
}
